<div class="relative grid h-screen place-items-center bGround">
  <div class="items-center justify-center w-full md:flex rounded-t-md">
    <div
      class="pt-20 pr-6 lg:pr-28 w-5/6"
      [class]="isMain() ? 'hidden md:block ' : 'hidden'"
    >
      <div class="self-end w-full">
        @if (isMain()) {
          <img
            src="./../../../../assets/imgs/login2.png"
            class="w-full"
            alt="login2"
          />
        }
      </div>
    </div>
    <main class="flex items-center justify-center w-full px-4 mx-auto sm:px-6">
      <div
        class="w-full bg-white shadow-md rounded-xl"
        [class]="
          isMain() ? 'lg:w-9/12 xl:w-7/12' : ' md:w-4/6 sm:w-3/4  lg:w-1/3'
        "
      >
        <div
          class="relative text-white text-center h-[14rem]"
          [class]="isMain() ? '' : 'bg-primary'"
        >
          @if (isMain()) {
            <img
              src="./../../../../assets/imgs/login1.png"
              alt="login1"
              loading="lazy"
              class="w-full h-full"
            />
          }
          <div
            class="absolute flex flex-col items-center justify-center w-full -translate-x-1/2 -translate-y-1/2 gap-y-8 top-1/2 left-1/2"
          >
            <h2 class="text-xl font-bold md:text-2xl">تسجيل الدخول</h2>
            @if (isMain()) {
              <a
                routerLink="/"
                class="grid bg-white rounded-full w-28 place-items-center"
              >
                <img
                  src="assets/imgs/logo2.webp"
                  class="w-[102px] p-2"
                  alt="logo"
                />
              </a>
            } @else {
              <a
                routerLink="/"
                class="grid rounded-md w-44 place-items-center"
                [class]="isLogoWhite() ? 'bg-secondary' : 'bg-white'"
              >
                <img
                  [src]="'assets/' + appConfigService.config()?.['logo']"
                  class="w-full p-2"
                  alt="logo"
                />
              </a>
            }
          </div>
        </div>
        <form
          [formGroup]="loginForm"
          class="flex flex-col items-center justify-center px-1 md:px-4"
          (ngSubmit)="onLogin()"
        >
          <div class="w-11/12 mt-2">
            <div class="relative">
              <input
                required
                name="email_phone"
                formControlName="email_phone"
                placeholder="ادخل البريد الإلكتروني او رقم الهوية"
                [ngClass]="
                  loginForm.controls['email_phone'].errors && submitted
                    ? 'border-red-400 placeholder:text-red-500'
                    : 'border-gray-300 focus:border-primary'
                "
                class="relative block w-full py-3 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primary"
              />
              <div class="absolute p-1.5 bg-white rounded-full top-2 left-3">
                <fa-icon [icon]="userIcon" class="text-primary"></fa-icon>
              </div>
            </div>
            @if (submitted && loginForm.controls["email_phone"].errors) {
              <div>
                @if (loginForm.controls["email_phone"].errors["required"]) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>
                }
                @if (loginForm.controls["email_phone"].hasError("email")) {
                  <p class="text-xs text-red-500 ps-3">
                    أدخل بريدًا إلكترونيًّا صحيحاً
                  </p>
                }
              </div>
            }
          </div>
          <div class="w-11/12">
            <div class="relative">
              <input
                autocomplete="new-password"
                name="password"
                formControlName="password"
                [type]="passwordFieldType"
                placeholder="كلمة المرور"
                [ngClass]="
                  loginForm.controls['password'].errors && submitted
                    ? 'border-red-400 placeholder:text-red-500'
                    : 'border-gray-300 focus:border-primary'
                "
                class="relative block w-full py-3 pr-6 my-2 text-black placeholder-black border-2 rounded-full appearance-none pl-14 placeholder:text-right bg-[#b7e4c7] focus:outline-none focus:ring-primary"
              />
              <button
                type="button"
                class="absolute p-1.5 bg-white rounded-full top-2 left-3"
                (click)="togglePasswordVisibility()"
              >
                @if (passwordFieldType === "password") {
                  <fa-icon [icon]="eyeIcon" class="text-primary"></fa-icon>
                } @else {
                  <fa-icon [icon]="eyeSlashIcon" class="text-primary"></fa-icon>
                }
              </button>
            </div>
            @if (submitted && loginForm.controls["password"].errors) {
              <div>
                @if (loginForm.controls["password"].errors["required"]) {
                  <p class="text-xs text-red-500 ps-3">هذا الحقل مطلوب</p>
                }
                @if (loginForm.controls["password"].errors["minlength"]) {
                  <p class="text-xs text-red-500 ps-3">
                    لابد أن لا تقل كلمة المرور عن 6 أحرف
                  </p>
                }
              </div>
            }
          </div>
          <div
            class="flex items-center justify-between w-11/12 px-4 mt-2 text-sm"
          >
            <a
              routerLink="/forgot-password"
              class="transition-colors hover:text-secondary"
            >
              هل نسيت كلمة السر؟
            </a>
          </div>
          <button
            type="submit"
            class="flex justify-center w-3/5 py-3 mt-4 text-lg font-semibold text-white transition-colors rounded-full bg-primary hover:bg-secondary focus:outline-none"
          >
            @if (isLoading) {
              <img
                class="w-8 h-8 animate-spin text-purple-950"
                src="https://www.svgrepo.com/show/474682/loading.svg"
                alt="Loading icon"
              />
            } @else {
              دخول
            }
          </button>
        </form>
        @if (isMain()) {
          <div class="flex items-center justify-center w-full">
            <app-sign-with-google />
          </div>
        }
        <p class="flex items-center justify-center my-4 text-sm text-secondary">
          ليس لديك حساب؟
          <a
            routerLink="/register"
            class="px-2 font-semibold cursor-pointe text-primary"
          >
            قم بالتسجيل الآن
          </a>
        </p>
        <p class="flex items-center justify-center pb-2 mb-4">
          <a
            routerLink="/parent-register"
            class="px-2 font-semibold cursor-pointe hover:text-secondary text-primary"
          >
            قم بالتسجيل كـ ولي أمر
          </a>
        </p>
      </div>
    </main>
  </div>
</div>
