<app-navbar />
<div class="mt-24">
  @if (isLoading()) {
  <div class="flex items-center justify-center w-full bg-opacity-60">
    <div class="flex items-center">
      <div
        class="border-8 border-blue-600 border-dashed rounded-full w-14 h-14 animate-spin"
      ></div>
    </div>
  </div>
  }@else { @if (isSuccess) {
  <div
    class="flex flex-col items-center justify-between w-full px-2 py-2 mx-auto mt-2 border rounded-lg md:flex-row gap-y-4 md:gap-y-0 lg:px-8 bg-secondaryAdmin lg:w-9/12"
  >
    <h3 class="font-bold leading-relaxed text-center text-wrap">
      {{ examAnswers.examName }}
    </h3>
    <button
      [routerLink]="['/tutorial/' + tutorialId + '/exam/' + examId]"
      class="px-4 py-2 text-black transition-colors bg-white border-2 rounded-lg md:px-12 hover:bg-red-700 hover:text-white"
    >
      العودة الي الاختبار
    </button>
  </div>
  <div class="flex flex-col items-center justify-center w-full mt-2">
    <div class="flex flex-col items-center justify-center w-full mt-2">
      @if (examAnswers.text !== null) {
      <p class="mb-2 text-lg">{{ examAnswers.text }}</p>
      } @if ( examAnswers.image2Url !== null) {
      <div class="w-full h-auto px-1 border-2 rounded-md lg:px-8 md:w-8/12">
        <img
          [src]="examAnswers.image2Url"
          class="object-contain object-center w-full h-full"
          alt="Question Image"
          loading="lazy"
        />
      </div>
      }
      <div
        class="w-full h-auto px-1 mt-2 border-2 rounded-md lg:px-8 md:w-8/12"
      >
        <img
          [src]="examAnswers.image1Url"
          class="object-contain object-center w-full h-full py-2"
          alt="Question Image"
          loading="lazy"
        />
      </div>
      <div
        class="flex items-center justify-between w-full pl-4 font-bold lg:px-8 mt-14 md:w-2/3 gap-x-6"
      >
        @if (examAnswers.choicesCount === 4) { @if (examAnswers.isEnglish) {
        @for (n of ['A', 'B', 'C', 'D']; track j; let j = $index) {
        <label class="flex gap-2 text-xl cursor-pointer">
          {{ n }}
          @if (examAnswers.correctChoice === j+1) {
          <div
            class="w-8 h-8 bg-green-500 border-2 border-gray-600 rounded-full"
          ></div>
          } @else {
          <div
            class="w-8 h-8 bg-transparent border-2 border-gray-600 rounded-full"
          ></div>
          }
        </label>
        } }@else { @for (n of ['أ', 'ب', 'ج', 'د']; track j; let j = $index) {
        <label class="flex gap-2 text-xl cursor-pointer">
          {{ n }}
          @if (examAnswers.correctChoice === j+1) {
          <div
            class="w-8 h-8 bg-green-500 border-2 border-gray-600 rounded-full"
          ></div>
          } @else {
          <div
            class="w-8 h-8 bg-transparent border-2 border-gray-600 rounded-full"
          ></div>
          }
        </label>
        } } }@else { @if (isEnglish) { @for (n of ['A', 'B', 'C', 'D', 'E'];
        track j; let j = $index) {
        <label class="flex gap-2 text-xl cursor-pointer">
          {{ n }}
          @if (examAnswers.correctChoice === j+1) {
          <div
            class="w-8 h-8 bg-green-500 border-2 border-gray-600 rounded-full"
          ></div>
          } @else {
          <div
            class="w-8 h-8 bg-transparent border-2 border-gray-600 rounded-full"
          ></div>
          }
        </label>
        } } }
      </div>
      <div
        class="flex items-center justify-center w-full px-2 mt-8 mb-2 lg:px-8 md:w-2/3"
      >
        @if (examAnswers?.answerUrl !== 'link' && examAnswers?.answerUrl === "")
        { }@else {
        <button
          (click)="openVideoSection()"
          type="button"
          class="px-8 py-2 text-white border border-gray-200 rounded-full block hover:animate-pop bg-primaryAdmin hover:bg-secondaryAdmin"
        >
          شرح السؤال
        </button>
        }
      </div>
    </div>
  </div>
  @if (openVideo) {
  <div #videoSection class="grid pb-8 place-items-center">
    <div class="w-full md:px-0 md:w-3/4 xl:w-11/12">
      <h2 class="mb-4 font-bold md:text-xl">شرح السؤال</h2>
      <div class="relative flex items-center justify-center w-full">
        <iframe
          class="w-11/12 h-96"
          [src]="getDecodedUrl() | safeUrl"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <div
          class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black bg-opacity-50 opacity-0 cursor-pointer right-6 lg:right-8 xl:right-14 overlay hover:opacity-100"
        ></div>
      </div>
    </div>
  </div>
  } } }
</div>
