<div class="px-4 pt-6 pb-3 m-auto mt-8 bg-gray-100 rounded-md md:px-14">
  <h2 class="mt-4 text-4xl font-extrabold text-center md:text-5xl">
    {{ "home.platformFeatures" | translate }}
  </h2>
  <div class="my-6 md:mb-6">
    <swiper-container
      class="mySwiper"
      space-between="60"
      centered-slides="true"
      autoplay-delay="2500"
      autoplay-disable-on-interaction="false"
      grab-cursor="true"
      loop="true"
      free-mode="true"
    >
      <swiper-slide class="grid place-items-center">
        <div
          class="flex flex-col flex-wrap bg-primaryAdmin items-center justify-center w-[18rem] h-[25rem] rounded-full md:mt-16 mt-0"
        >
          <div class="p-4 mb-8 bg-white rounded-full w-36">
            <img
              src="assets/imgs/index000 -03.png"
              alt="feature4"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">{{ "home.foundation" | translate }}</h3>
            <h3>{{ "home.fromScratch" | translate }}</h3>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="grid place-items-center">
        <div
          class="flex flex-col flex-wrap bg-secondaryAdmin items-center justify-center w-[18rem] h-[25rem] rounded-full"
        >
          <div class="p-4 mb-8 bg-white rounded-full w-36">
            <img
              src="./../../../../../../../assets/imgs/index000 -04.png"
              alt="feature3"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">{{ "home.training" | translate }}</h3>
            <h3>{{ "home.toProfessional" | translate }}</h3>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="grid place-items-center">
        <div
          class="flex flex-col flex-wrap bg-primaryAdmin items-center justify-center w-[18rem] h-[25rem] rounded-full md:mt-16 mt-0"
        >
          <div class="p-4 mb-8 bg-white rounded-full w-36">
            <img
              src="./../../../../../../../assets/imgs/index000 -02.png"
              alt="feature2"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">{{ "home.videos" | translate }}</h3>
            <h3>{{ "home.highQuality" | translate }}</h3>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="grid place-items-center">
        <div
          class="flex flex-col flex-wrap bg-secondaryAdmin items-center justify-center w-[18rem] h-[25rem] rounded-full"
        >
          <div class="p-4 mb-8 bg-white rounded-full w-36">
            <img
              src="./../../../../../../../assets/imgs/index000 -05.png"
              alt="feature1"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">{{ "home.tests" | translate }}</h3>
            <h3>{{ "home.updated" | translate }}</h3>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="grid place-items-center">
        <div
          class="flex flex-col flex-wrap bg-primaryAdmin items-center justify-center w-[18rem] h-[25rem] rounded-full md:mt-16 mt-0"
        >
          <div class="w-40 p-4 mb-8 bg-white rounded-full">
            <img
              src="./../../../../../../../assets/imgs/books.png"
              alt="feature2"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">{{ "home.materials" | translate }}</h3>
            <h3>{{ "home.unique" | translate }}</h3>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="grid place-items-center">
        <div
          class="flex flex-col flex-wrap bg-secondaryAdmin items-center justify-center w-[18rem] h-[25rem] rounded-full"
        >
          <div class="p-8 mb-8 bg-white rounded-full w-36">
            <img
              src="./../../../../../../../assets/imgs/table.png"
              alt="feature2"
              loading="lazy"
              class="w-full h-full"
            />
          </div>
          <div class="mb-20 text-3xl font-semibold text-center">
            <h3 class="mb-2">{{ "home.schedule" | translate }}</h3>
            <h3>{{ "home.fitLevel" | translate }}</h3>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
